<div class="my-drive">
  <div class="drive-headers">
    <span>Name</span>
    <span>Size</span>
    <span>Options</span>
  </div>
  <ul class="drive-container">
    <% (folders || []).forEach( folder => { %>
    <li class="link-folder">
      <div class="file-details">
        <span
          ><a href="folder/<%= folder.folderName %>"
            ><%= folder.folderName %></a
          ></span
        >
      </div>
    </li>
    <% } ) %> <% (files || []).forEach( file => { %>
    <li class="link-item">
      <div class="file-details">
        <span><%= file.originalName %></span>
        <span> <%= file.fileSize %></span>
      </div>
      <div class="file-option-container">
        <a href="/file/delete/<%= file.id %>">
          <img src="/images/delete-file.svg" alt="delete" class="delete-file" />
        </a>
        <a href="/file/download/<%= file.id %>"
          ><img src="/images/download.svg" alt="download" class="download-file"
        /></a>
        <a href="/file/share/<%= file.id %>">
          <img src="/images/share-file.svg" alt="share" class="share-file" />
        </a>
      </div>
    </li>
    <%}) %>
  </ul>
</div>
