<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/general.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/drives.css" />
    <script src="/js/sidebar.js" defer></script>
    <script src="/js/header.js" defer></script>
    <script src="/js/drive.js" defer></script>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/header') %> <%- include('./partials/sidebar') %>
      <main>
        <div class="content">
          <h2><%= title %></h2>
          <% if ( activePage === 'index' && files.length) { %> <%-
          include('./partials/mydrive') %> <% } else if ( activePage ===
          'shares' && shares.length ) { %> <%-
          include('./partials/myshared.ejs') %> <% } else { %>
          <h3 class="no-files">No Files Yet :)</h3>
          <% } %>
        </div>
      </main>
      <%- include('./partials/modal-share') %>
    </div>
  </body>
</html>
